hostname {{ hostname }}
!
{% for dns in dns_servers %}
ip name-server {{ dns }}
{% endfor %}
!
{% for intf in interfaces %}
interface {{ intf.name }}
 description {{ intf.description }}
 ip address {{ intf.ip }} {{ intf.mask }}
 no shutdown
!
{% endfor %}  